doctype html
html
  head
    title #{title}
  body
    h1 Welcome to my Cal
    h4 Today is #{date.toLocaleDateString()}
    p to get the a month calendar set URL to:
    p. /cal/
      b month
      /
      b year

